<footer class="page-footer">
      <div class="container footer-container">
        <div class="logo-wrapper">
          <a class="logo footer-logo" href="./index.html"
            ><img
              src="/img/logo.svg"
              alt="Logotype"
              width="40"
              height="36"
            />Product</a
          >

          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="social-icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="social-icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="social-icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
          </ul>
        </div>

        <nav class="footer-nav">
          <div>
            <p class="footer-title">Resource</p>
            <ul class="footer-nav-list">
              <li class="footer-nav-iten">
                <a class="footer-nav-link" href="">About Us</a>
              </li>
              <li class="footer-nav-iten">
                <a class="footer-nav-link" href="">Blog</a>
              </li>
              <li class="footer-nav-iten">
                <a class="footer-nav-link" href="">Contact</a>
              </li>
              <li class="footer-nav-iten">
                <a class="footer-nav-link" href="">FAQ</a>
              </li>
            </ul>
          </div>

          <div>
            <p class="footer-title">Legal Stuff</p>
            <ul class="footer-nav-list">
              <li class="footer-nav-iten">
                <a class="footer-nav-link" href="">Disclaimer</a>
              </li>
              <li class="footer-nav-iten">
                <a class="footer-nav-link" href="">Financing</a>
              </li>
              <li class="footer-nav-iten">
                <a class="footer-nav-link" href="">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="footer-form-wrapper">
          <p class="footer-title footer-form-title">
            knowing you're always on the best energy deal.
          </p>
          <form class="footer-form">
            <label class="footer-form-field">
              <span class="visually-hidden">Tel</span>
              <input
                class="footer-form-input"
                placeholder="Enter your phone number"
                type="tel"
                name="user-tel"
                required
              />
              <svg class="footer-form-icon" width="18" height="24">
                <use href="/img/icons.svg#icon-mobile"></use>
              </svg>
            </label>
            <button class="footer-form-btn" type="submit">Sign up Now</button>
          </form>
        </div>

        <p class="footer-copy">
          Made With Love By Figmaland All Right Reserved
        </p>
      </div>
    </footer>