.page-footer {
  padding: 50px 0 45px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}

.footer-logo {
  margin-bottom: 25px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #edfffc;
  color: #02897a;
  transition: color 200ms linear, background-color 200ms linear;
}

.social-icon {
  fill: transparent;
  stroke: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: #02897a;
  color: #edfffc;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  margin-bottom: 32px;
}

.footer-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.footer-nav-link {
  line-height: 2.19;
}

.footer-form-title {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
  text-align: center;
}

.footer-form-field {
  position: relative;
  display: block;
  margin-bottom: 21px;
}

.footer-form-input {
  padding-left: 42px;
  padding-right: 20px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  background: transparent;
}

.footer-form-input::placeholder {
  color: #02897a;
}

.footer-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #02897a;
}

.footer-form-btn {
  display: block;
  margin: 0 auto;
  min-width: 131px;
  height: 39px;
  padding: 0 15px;
  border-radius: 4px;

  font-weight: 700;
  color: #fff;
  background-color: #02897a;
}

.footer-copy {
  width: 100%;
  text-align: center;
  line-height: 1.88;
}

@media screen and (max-width: 1149px) {
  .logo-wrapper {
    margin-bottom: 32px;
  }

  .footer-form-wrapper {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1150px) {
  .page-footer {
    padding: 50px 0 40px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 16px;
    padding: 0 20px;
  }

  .logo-wrapper {
    margin-right: auto;
  }

  .footer-logo {
    margin-bottom: 18px;
  }

  .footer-nav {
    flex-direction: row;
    align-items: start;
    gap: 129px;
    margin-right: 83px;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-form-title {
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
  }

  .footer-form-field {
    margin-bottom: 25px;
  }

  .footer-form-btn {
    margin: 0;
  }
}
